<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Municipios</title>
</head>
<body>
    <h1>Listar Municipios</h1>

    <a href="{% url 'agregar_municipio' %}">Agregar Municipio</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
                <tr>
                    <td>{{ municipio.nombre }}</td>
                    <td>
                        <a href="{% url 'modificar_municipio' municipio.id %}">Modificar</a> |
                        <a href="{% url 'eliminar_municipio' municipio.id %}">Eliminar</a> |
                        <a href="{% url 'buscar_municipio' %}">Buscar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No hay municipios registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>