<!-- catalogo/templates/catalogo/listar_paises.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Países</title>
</head>
<body>
    <h1>Listar Países</h1>

    <a href="{% url 'agregar_pais' %}">Agregar País</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
                <tr>
                    <td>{{ pais.nombre }}</td>
                    <td>
                        <a href="{% url 'modificar_pais' pais.id %}">Modificar</a> |
                        <a href="{% url 'eliminar_pais' pais.id %}">Eliminar</a> |
                        <a href="{% url 'buscar_pais' %}">Buscar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No hay países registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
