<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Departamentos</title>
</head>
<body>
    <h1>Listar Departementos</h1>

    <a href="{% url 'agregar_departamento' %}">Agregar Departamento</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
                <tr>
                    <td>{{ departamento.nombre }}</td>
                    <td>
                        <a href="{% url 'modificar_departamento' departamento.id %}">Modificar</a> |
                        <a href="{% url 'eliminar_departamento' departamento.id %}">Eliminar</a> |
                        <a href="{% url 'buscar_departamento' %}">Buscar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No hay departamentos registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>